{% load static %}
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="theme-color" content="#1e3a6e">
<meta name="referrer" content="strict-origin-when-cross-origin">

<link rel="icon" type="image/jpeg" href="{% static 'img/insignia.jpg' %}">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;900&display=swap" rel="stylesheet">

<link rel="stylesheet" href="{% static 'css/base.css' %}">
<script src="{% static 'js/theme_init.js' %}"></script>
